body {
  font-size: 30px;
}

.border {
  border: 5px solid black;
}

.size {
  width: 420px;
  height: 100px;
  margin-top: 5px;
}

.box-1 {
  background-color: lightcyan;
  height: 200px;
  position: relative;
}

.inner {
  background-color: lightsalmon;
  position: absolute;
  bottom: 0;
  left: 0;
}


.box {
  background: red;
  width: 100px;
  height: 100px;
  margin: 20px;
  color: white;
}
#one {
  position: fixed;
  top: 80px;
  left: 10px;
}
.outer {
  width: 500px;
  height: 500px;
  padding-left: 150px;
}

