body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Шапка */
.header {
  position: fixed;   /* КЛЮЧЕВОЕ */
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background: #333;
  color: white;
  text-align: center;
  padding: 20px 20px;
}

/* Контент */
.content {
  margin-top: 60px;  /* чтобы текст не заехал под шапку */
  padding: 20px;
  text-align: center;
}
