body {
    font-size: 50px;
}

/* Контейнер */
.box {
    width: 300px;
    height: 150px;
    border: 5px solid black;
    margin: 50px;
}

/* Цвета */
.red    { background: #e74c3c; }
.blue   { background: #3498db; }
.green  { background: #2ecc71; }
.orange { background: #f39c12; }

/* НАВЕДЕНИЕ */
.box:hover {
  position: relative; /* КЛЮЧЕВОЕ */
  top: -15px;
  left: 15px;
}
