.simpleBox1 {
    display: inline-block;
    border: 2px solid blue;
    background-color: lightskyblue;
    width: 100px;
    height: 100px;
}


.simpleBox2 {
    display: inline-block;    
    border: 2px solid red;
    background-color: gold;
    width: 100px;
    height: 100px;
}

.position_static {
    position: static;
}

.position_relative {
    position: relative;
    top: 40px;
    left: 40px;
}

.position_absolute {
    position: absolute;
    top: 40px;
    left: 40px;
}

.position_sticky {
    position: sticky;
    top: 40px;
    left: 40px;
}

.position_fixed {
    position: fixed;
    top: 40px;
    left: 40px;
}



