body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}


.modal {
  position: fixed;     
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  padding: 20px;
  width: 300px;

  border: 2px solid #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
